{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="8A32DCEC103F11F9F74187A513431FF1" />
    <meta name="google-site-verification" content="t2Kfnbo80ZuBTl-ETxkJKfcHBOHKJ4mdcK9FeeyjN6E" />
    <meta name="description" content="Easily download and install the latest Brother printer drivers at setup.brother.com. Complete your Brother printer setup on Windows or Mac with this step-by-step guide." />
    <meta name="keywords" content="Brother printer drivers, setup.brother.com, Brother printer setup, download Brother printer drivers, install Brother drivers, Brother setup guide, Brother driver installation, Brother wireless printer setup, Brother printer software" />
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
